$color-green: #00bc8c;
$color-shadow: #000;
// $background-gradiend: radial-gradient(
//   circle,
//   rgba(31, 33, 40, 1) 0%,
//   rgba(31, 33, 50, 1) 57%,
//   rgba(31, 33, 40, 1) 100%
// );
$background-gradiend: #1e1c1c;
// $color-first: #4d3bc9;
$color-second: #0249c7;
$color-third: #ff764b;
$background-card: #242731;
$background-timeline: #353946;
$background-color: #16171d;

$color-text: white;
